body {
  margin: 0;
}
.row{
    margin: 0;
    padding: 0;
}
.nav {
    padding: 0;
    height: 4em;
  background-color: #ffcb4d;
}
.nav a {
    padding: 1.1em;
}
@media only screen and (max-width:700px){
    .nav{
        height: 20em;
        text-align: center;
    }

}