.navbar {
  padding: 1px;
  height: 10%;
  overflow: hidden;
  display: block;
}

.navbar a {
  padding: 1.4%;
}

.navbar a:hover {
  background-color: #ffd54f;
}

.set {
  float: right;
}
.head {
  text-align: center;
  border: hidden;
}

.name {
  font-family: "Quicksand", sans-serif;
}

#initial {
  letter-spacing: 0.1em;
}

.jumbotron {
  padding: 2rem;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 100vh;
  width: 100%;
  border: hidden;
}
.card-img-top {
  padding: 0.5px;
  border: 2px solid white;
}
.name {
  color: white;
  display: inline-block;
}
#initial {
  color: white;
}
.flexbare {
  display: inline;
}
.flexbare > a {
  display: inline-block;
}

.desc {
  display: inline;
}
.left {
  text-align: center;
}
#resume {
  margin-top: 50px;
}
.btn {
  width: 90%;
}

.container.custom_container {
  padding: 0 40px;
}
