body {
  margin: 0px;
}
html {
  width: 100vw;
}
.row {
  margin: 0px;
  padding: 0px;
}
.nav {
  padding: 0;
  height: 4em;
  background-color: #ffcb4d;
}
.nav a {
  padding: 1.1em;
}

h5 {
  padding-top: 3%;
}

img {
  width: 15vw;
  height: 20vw;
}
.row div {
  padding: 0;
}
.icon {
  width: 2vw;
  height: 2vw;
  float:left;
  margin-left:17vw;
}
.cp{
    float:left;
    margin-left:4%;
}